body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 400;
    letter-spacing: -.022em;
    font-synthesis: none;
    -moz-font-feature-settings: 'kern';
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #333;
    line-height: 1.5em;
    padding: 25px;
}



img {
    max-width: 30%; /* Afbeeldingen responsive maken */
}
/* Voeg jouw css hieraan toe */

.h1styleguide { 
    font-weight: bold;
    font-size: 60px;
    text-transform: uppercase;
}

.h2styleguide {
    font-size: 40px;
    font-weight: bold;
    
}


.h3styleguide {
    font-weight: bold;
    font-size: 30px;
}



.button-text {
    font-size: 40px;
}

.styleguide {
    font-family: 'Karla', sans-serif; 
    color: white;   
}


.typografie {
    font-size: 18px; 
}
.typografiewit {
    font-size: 18px; 
    color: #ffffff;
}


.titel {
    color: #6EDDB8;
    text-transform: uppercase;
}
.vierkant { 
    width: 100px;
    height: 100px;
    display: flex;
}
.lichtgroen {
    background-color: #6EDDB8;    
}

.donkergroen {
    background-color: #36908a;
}

.muntgroen {
    background-color: #d0e8e1;    
}

.zwart {
    background-color: #000000;    
}

.witrand {
    background-color: #ffffff;
    border-style: solid;
    border-color: #000000;
}

.white {
    color: #ffffff;
    margin-left: 10px;
    margin-top: 65px;
    font-weight: bold;
    font-family: Karla;
}

.black {
    color: #000000;
    margin-left: 10px;
    margin-top: 65px;
    font-weight: bold;
    font-family: Karla;
}
.vierkanten {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-width: 460px;
}

 .link {
   color: #36908a;  
   text-decoration: none;
   font-family: Karla, sans-serif;
   font-size: 18px;
 }

 .link:hover, .link:focus {
    border-bottom: 2px solid #36908a;
    padding-bottom: 1px;
 }

.knop {
    font-family: 'Karla', sans-serif;    
    color:white;
    border: 0;
    padding: 10px 30px;
    box-sizing: border-box;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    display: block;
    margin-bottom: 20px;
}

.knop-dark-bg {
    background: transparent;
    color: white;
    box-shadow:inset 0px 0px 0px 2px white;
}

.knop-dark-bg:hover, .knop-dark-bg:focus {
    box-shadow: unset;
    background: white;
    color: #6EDDB8;
}

.knop-primary {
    background-color: #36908a;
    color: white;

}

.knop-secundary {
    background-color: #6EDDB8;    
}

.knop-tiny {
    font-size: 16px;
    padding: 5px 15px;
}

.knop-primary:hover, .knop-primary:focus {
    background: none;
    color: #36908a;
    box-shadow:inset 0px 0px 0px 2px #36908a;
}

.knop-secundary:hover, .knop-secundary:focus {
    background: none;
    box-shadow:inset 0px 0px 0px 2px #6EDDB8;
    color: #6EDDB8;
}

.knop-tiny-text {
    font-size: 16px;
}

.opsomming-gekleurd {
    padding: 20px;
    list-style-position: inside;
    box-sizing: border-box;
    background-color: #6EDDB8;
}

.opsomming-gekleurd li {
    font-size: 30px;
    color:white;
    margin: 10px 0;
    padding: 5px 0;
    list-style-type: none;
}

.opsomming-gekleurd li::before {
    content: " ";
    display: inline-block;
    width: 32px;
    height: 32px;
    margin-bottom: -6px;
    background: url('../images/whitecheck.png') no-repeat;
    margin-right: 10px;
}

.dropdownmenu {
    max-width: 40%;
}

.maximize {
    max-width: 15%;
}

.socialicons {
   
  
    
}

.facebook {
    height: 100px;
    width: 100px;
}
.twitter {
    height: 100px;
    width: auto;
}
.youtube {
    height: 100px;
    width: auto;
}
.instagram {
    height: 100px;
    width: auto;
}

.homeicon ::before {
    max-width: 20%;
}

.home-icon {
    width: 150px;
    height: auto;
    padding: 10px;
    box-sizing: border-box;
}

.home-icon:hover {
    background: #6EDDB8;
    box-sizing: border-box;
}

.home-icon:hover .cls-1 {
    fill: white;
}

.dropdown-aantal {
    display:flex;
    justify-content: flex-start;
}
.dropdown:hover .dropdown-list {
    display: block;
}

.dropdown-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: none;
}

.dropdown-element {
    height: 34px;
    border-top: 2px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Karla, sans-serif;
}

.dropdown-element:nth-child(even) {
    background: #36908a;
    color:white;
}

.dropdown {
    background:white;
    border: 2px solid black;
    box-sizing: border-box;
    width: 50px;
    text-align:center;

  }

  .dropdown-heading {
    justify-content: space-around;
    align-items: center;
    display: inline-flex;
    width: 100%;
  }
  .dropdown-label {
    flex: 0 50%;
  }
  .dropdown-icon {
    flex: 0 50%;
    color: white;
    background:#36908a;
    padding: 5px;
    box-sizing: border-box;
  }

  .vr-image:hover .green-overlay {
    opacity: 0.6;
    height: 200px;
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
  }

  .vr-image:hover .left-arrow, .vr-image:hover .right-arrow {
      background: #d0e8e1;
  }

  .green-overlay {
    position: absolute;
    top: 0;
    left: 0;
    background: #36908a;
    opacity: 0.3;
    height: 100%;
    width: 100%;
    color:transparent
  }
  .left-arrow, .right-arrow {
      width: 30px;
      height: 30px;
      background: #6EDDB8;
      position: absolute;
      z-index: 5;
      opacity: 1;
  }

  .left-arrow {
    top: calc((100% - 50px)/2);
    left: -10px;
    -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    filter: FlipH;  
  }

  .right-arrow {
    top: calc((100% - 50px)/2);
    right: -10px;
  }

  .vr-image {
      position: relative;
      width: 300px;
  }
  .vr-image .special-image{
      width: 100%;
      height: auto;
      display: block;
      max-width: unset;
  }

 
.nav {
    background-color: white;
    color: #000000;
    list-style: none;
    text-align: right;
    padding: 2Opx 0 20px 0;
    text-transform: uppercase;
    font-weight: bold;
    display: flex;
}

.nav > li {
    display: flex;
    padding-left: 50px;

}

.nav > li > a{
    text-decoration: none;
    color: #000000;
}

.nav > li > a:hover {
    color: #6eddb8;
    border-bottom: 3px #6eddb8 solid;

}